# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media and Static files that are collected
/media/
/static/

# Virtual Environment
/myenv/
venv/
.env

# IDE and OS files
.vscode/
.idea/
*.swp
*~
.DS_Store